<p>product-new works! {{product|json}}</p>
<p>{{errMessage}}</p>
<table>
  <tr>
    <td>Nhập Id:</td>
    <td>
      <input type="text"  [(ngModel)]="product.id"  />
    </td>
  </tr>
  <tr>
    <td>Nhập tên:</td>
    <td>
      <input type="text"  [(ngModel)]="product.name"  />
    </td>
  </tr>
  <tr>
    <td>Nhập loại:</td>
    <td>
      <input type="text"  [(ngModel)]="product.type"  />
    </td>
  </tr>
  <tr>
    <td>Nhập Giá:</td>
    <td>
      <input type="number"  [(ngModel)]="product.price"  />
    </td>
  </tr>
  <tr>
    <td>Tải hình</td>
    <td>
      <input type="file" class="text-nowrap text-truncate file" multiple (change)="selectFile($event)">

    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <div class="progress mt-2">
        <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{percentage}}"aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
            {{percentage}}%
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>Nhập mô tả:</td>
    <td>
      <input type="text"  [(ngModel)]="product.describe"  />
    </td>
  </tr>
  <tr>
    <td>Nhập tag:</td>
    <td>
      <input type="text"  [(ngModel)]="product.tag"  />
    </td>
  </tr>
  <tr>
    <td>Nhập size:</td>
    <td>
      <input type="text"  placeholder="Ví dụ: M,S" [(ngModel)]="sizetemp"  />
    </td>
  </tr>
  <tr>
    <td>Nhập màu:</td>
    <td>
      <input type="text" placeholder="Ví dụ: red,blue" [(ngModel)]="colortemp"  />
    </td>
  </tr>
  <tr>
    <td>
      <button type="button" class="btn btn-outline-warning" [disabled] = "!selectedFiles" (click)="uploadFile()">Upload</button>
    </td>
  </tr>

  <tr>
    <td>Nhập Id của comment</td>
    <td>
      <input type="text" placeholder="Cú pháp C + ID sản phẩm, ví dụ CS001"   [(ngModel)]="reviewTemp.id"  />
    </td>
  </tr>
  <tr>
    <td>Nhập rating của comment</td>
    <td>
      <input type="number" placeholder="từ 1 đến 5"   [(ngModel)]="reviewTemp.ratingComment"  />
    </td>
  </tr>
  <tr>
    <td>Nhập username của comment</td>
    <td>
      <input type="text"    [(ngModel)]="reviewTemp.userName"  />
    </td>
  </tr>
  <tr>
    <td>Nhập ngày của comment</td>
    <td>
      <input type="text"  placeholder="9 March 2023"   [(ngModel)]="reviewTemp.dateCreate"  />
    </td>
  </tr>
  <tr>
    <td>Nhập nội dung của comment</td>
    <td>
      <input type="text"     [(ngModel)]="reviewTemp.review"  />
    </td>
  </tr>

</table>

<!-- Trả dữ liệu -->
<table border="1">
  <thead>
    <tr>
      <td>Id:</td>
      <td>Tên:</td>
      <td>Loại:</td>
      <td>Giá:</td>
      <td>Hình</td>
      <td>Mô tả:</td>
      <td>Tag:</td>
      <td>Size:</td>
      <td>Màu:</td>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
          {{product.id}}
      </td>



      <td>
          {{product.name}}
      </td>


      <td>
        {{product.type}}
      </td>


      <td>
        {{product.price}}
      </td>


      <td >
        {{product.imgURL}}
      </td>


      <td>
        {{product.describe}}
      </td>


      <td>
        {{product.tag}}
      </td>


      <td>
        {{product.size}}
      </td>


      <td>
        <input type="text" [(ngModel)]="product.color">
      </td>

      <td>
        <button (click)="deleteProduct(product)"> Delete</button>
      </td>
      <td>
        <button (click)="updateProduct(product)"> Update</button>
      </td>
    </tr>

  </tbody>

</table>
